@tailwind base;
@tailwind components;
@tailwind utilities;

main,
body,
:root {
  min-width: 100vw;
  min-height: 100vh;
}

/* bounce animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
}

.bounce {
  animation: bounce 1.5s infinite;
}

/* i need delay for several elements */
.delay-1 {
  animation-delay: -0.3s;
}

.delay-2 {
  animation-delay: -0.15s;
}

.button_breath_light {
  animation: breath_light 1.5s infinite;
}

@keyframes breath_light {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}

/* emote message box */
.emote-message-box {
  width: 5.5rem;
  height: 5.5rem;
  position: absolute;
  left: 50%;
  bottom: -65%;
  translate: y-full;
  background-color: #374151; /* bg-gray-700 */
  padding: 0.5rem;
  border-radius: 0.5rem;

  transform: translateX(-50%);
}

/* emote message box triangle */
.emote-message-box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #374151; /* bg-gray-700 */

  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}
